@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Red+Hat+Display:wght@500&display=swap');

:root{
    --HospitalGreen: #ACD9B2;
    --InputField: #F7F7F7;
    --VeryLightPink: #C7C7C7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--HospitalGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mouse Memoirs', sans-serif;
}

input{
    opacity: 0;
}

#main-container{
    background-color: var(--InputField);
    text-align: center;
    width: fit-content;
    margin-top: 5rem;
    border-radius: 1rem;
}

h1{
    margin: 2rem 1.5rem 1rem 1.5rem;
}

#seccion-opciones-jugador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-jugador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 6rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    background-color:lightgrey;
    box-shadow: 5px 5px 5px black;
    font-size: 3rem;
    cursor: pointer;
}

input[type="radio"]:checked + label{
    width: 8.5rem;
    height: 6.5rem;
    background-color: rgb(124, 166, 223);
}

#boton-seleccionar{
    opacity: 1;
    background-color: var(--HospitalGreen);
    padding: 1rem;
    margin: 1rem 0 0 0.5rem;
    border: 0.01rem solid black;
    border-radius: 1rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.5rem;
}


@media screen and (max-width: 475px){
    #main-container{
        margin-top: 3rem;
    }

    #seccion-opciones-jugador{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-jugador{
        margin: 0.5rem 2rem;
    }
}